body {
	/* Set "my-sec-counter" to 0 */
	counter-reset: section;
}

.list-table-of-contents-main {
	counter-reset: subsection;
	font-weight: bold;
}

.list-table-of-contents-main::before {
	/* Increment "my-sec-counter" by 1 */
	counter-increment: section;
	content: counter(section) ". ";
}

.list-table-of-contents-child::before {
	counter-increment: subsection;
	content: counter(section) "." counter(subsection) " ";
}
