.topnav {
	overflow: hidden;
	border: solid 1px #bebebe;
	border-radius: 5px;
}
.text-keyword {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 1px;
	border: solid 1px #9cb4d8;
	background-color: #c4d2e7;
	border-radius: 3px;
	padding: 5px;
}
.ui-autocomplete-input {
	float: left;
}
.ui-widget-content {
	background: none;
	box-sizing: border-box;
	box-shadow: none;
	border: none;
	outline: none;
	height: 40px;
}
._s-kw-r-o {
	margin-top: 5px;
	margin-bottom: 5px;
	padding:5px;
	background-color: #007bff;
	color: #FFF;
	cursor:pointer;
}
.live_search {
	margin: 0px;
	width: 194px;
	border: solid 1px #bebebe;
	border-radius: 3px
}
.tagit-close {
	color: #1d2129;
	cursor: pointer;
}
.header-form-book .col-md-8{
	display: flex;
	align-items: center;
}
.header-form-book{
	padding: 10px 0;
}
.header-form-book .col-md-8 .text-uppercase{
	margin: 0 30px 0 0;
}
.header-form-book .col-md-8 .fa{
	font-size: 20px;
	margin:0 10px;
}