.content {
	background: #ffffff;
}

.right-panel .page-header {
	min-height: auto;
	padding: 0px;
}

.table-head {
	padding: 5px 0px;
	border-bottom: 1px solid #cbcbcb;
}

.right-panel header.header {
	padding: 5px 20px 5px;
	position: relative;
}

.header-menu .col-sm-7 {
	position: relative;
}

.menutoggle {
	position: absolute;
	left: -10px;
	height: 35px;
	line-height: 36px;
	margin: 0px 0px 0 0px;
	width: 35px;
	z-index: 999;
}

.menutoggle > i {
	font-size: 18px;
}

.header-menu .breadcrumb-logo {
	padding-left: 40px;
}

.header-menu .breadcrumb-logo img {
	max-height: 35px;
}

.header-menu .breadcrumb-logo .breadcrumb-controller .icon-root {
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
	color: var(--gray);
}

.header-menu .breadcrumb-logo .breadcrumb-controller .icon-next {
	vertical-align: middle;
	font-size: 14px;
	color: #cbcbcb;
}

.header-menu .breadcrumb-logo .breadcrumb-controller .controller-name {
	vertical-align: middle;
	margin: 0px 5px;
}

.page-title .table-btn-header {
	border-left: 1px solid #cbcbcb;
	padding: 2px 10px 8px;
}

.page-title .table-btn-header:last-child {
	padding: 2px 0px 8px 10px;
}

.page-title .table-btn-header:hover {
	cursor: pointer;
	opacity: 0.7;
}

.page-title .table-btn-header i {
	font-size: 20px;
	vertical-align: middle;
}

.page-title .btn-add-record {
	color: var(--green);
}

.page-title .btn-delete {
	color: var(--red);
}

.page-title .btn-help {
	color: var(--orange);
}

.count-row .row-left {
	display: inline-block;
	width: 60%;
}

.count-row .row-left .filter-by-character {
	text-decoration: underline;
	color: var(--blue);
	margin-right: 5px;
}

.count-row .row-left .filter-by-character.active {
	color: var(--red);
}

.count-row .row-left .filter-by-character:hover {
	cursor: pointer;
	opacity: 0.7;
}

.count-row .row-right {
	display: inline-block;
	width: calc(40% - 5px);
	text-align: right;
}

.current-page-item {
	margin: 0px 10px;
	font-size: 13px;
}

.current-page-item input {
	width: 40px;
	border: 1px solid #cbcbcb;
	border-radius: 2px;
	padding: 5px 5px;
}
