/* scroll */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #ccc;
}

.right-panel {
	position: relative;
}

/********ajax-loading-modal************/
#loading-modal {
	z-index: 9999;
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80FFFFFF', endColorstr='#80FFFFFF', GradientType=0);
}

body, p, span, b {
	font-size: 12px !important;
}

legend {
	display: inline-block;
	font-size: 14px !important;
	width: auto;
	font-weight: 600;
}

.container, .container-fluid {
	padding: 0px 5px;
	min-width: 100% !important;
}

.loader {
	position: absolute;
	top: 40%;
	left: 48%;
	border: 6px solid #cbcbcb;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* end scroll */
body {
	/*width: calc(100% - 4px);*/
}

.hidden {
	display: none !important;
}

aside.left-panel {
	padding-right: 0px;
	position: absolute;
	z-index: 99;
	top: 45px;
	left: 0px;
	height: calc(100% - 50px);
	min-height: calc(100% - 50px);
	box-shadow: 1px 3px 5px 0px #424242;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	padding: 0px !important;
}

.navbar {
	margin: 0px;
}

.navbar .navbar-header {
	padding-right: 25px;
}

.navbar-expand-sm .navbar-collapse {
	height: 85vh;
	display: block !important;
	overflow: auto;
	padding-right: 25px;
}

.content-manage {
	/*padding: 0px 10px;*/
	background: #ffffff;
}

.header-select.col-select {
	width: 40px;
}

.col-action {
	width: 200px;
}

.table {
	/*font-size: 13px;*/
}

.filter-row.row-3 {
	position: relative;
}

.btn-export-file {
	color: #1b9dfd !important;
	font-size: 14px;
}

.btn-export-file:hover {
	cursor: pointer;
	text-decoration: underline !important;
}

.manage-filter .filter-part .filter-custom-row .data-filter-custom .data-input input {
	width: 210px !important;
	padding-right: 20px !important;
}

.manage-filter .filter-part .popup-row-btn {
	margin-top: 0px !important;
}

.manage-filter .row-custom {
	border: none !important;
}

.manage-filter .block-part {
	border-top: 0.5px solid #cbcbcb;
	border-bottom: 0.5px solid #cbcbcb;
}

.action-bar {
	font-size: 12px;
	position: relative;
	margin-left: 20px;
}

.action-bar .input-search {
	width: 175px;
	padding: 5px 20px 5px 10px;
	border-radius: 3px;
	border: 1px solid #cbcbcb;
	height: 30px;
	font-size: 13px;
	display: inline-block;
}

.action-bar .btn-reset-search {
	position: absolute;
	left: 185px;
	top: 0px;
	font-size: 15px;
	color: #9b9b9b;
	display: none;
}

.action-bar .btn-reset-search.active {
	display: block;
}

.action-bar .btn-reset-search:hover {
	cursor: pointer;
	color: #4a4a4a;
}

.action-bar .sort-item {
	width: calc(100% - 304px);
	display: inline-block;
	text-align: right;
}

.action-bar .sort-item .filter-option-inner-inner, .action-bar .sort-item .dropdown-menu, .filter-block .dropdown-menu {
	font-size: 13px;
}

.filter-block {
	margin-top: 5px;
	font-size: 13px;
	color: #4b4b4b;
	margin-bottom: 5px;
	text-align: left;
}

.input-date {
	padding: 4px 10px;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid #cbcbcb;
}

.filter-select {
	font-size: 14px;
	display: inline-block;
}

.filter-select .filter-option-inner {
	font-size: 14px;
}

.count-row {

}

.count-row .row-each-page {
	font-size: 13px;
	display: inline-block;
	width: 50%;
}

.count-row .row-right .current-limit {
	width: 60px;
	display: inline-block;
	font-size: 13px;
	padding: 5px 10px;
	height: 30px;
}

.count-row .quick-action {
	width: calc(50% - 5px);
	display: inline-block;
	text-align: right;
}

.table-content {
	/*padding: 10px;*/
	position: relative;
}

.table-content .table-container {
	max-height: 64vh;
	overflow: auto;
}

.table-content .table-container .table-bordered th, .table-bordered td {
	padding: 2px 10px;
	vertical-align: middle;
}

.table-content .table-container .table-bordered th.col-check, .table-bordered td.col-check {
	width: 30px;
}

.table-content .table-container .table-bordered th.col-action, .table-bordered td.col-action {
	width: 100px;
	text-align: center;
}

.table-content .table-container .table-bordered th.col-check input, .table-bordered td.col-check input {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.table-content .paging-detail {
	position: absolute;
}

.user-area .user-avatar {
	float: none;
}

.navbar .navbar-nav li.active {
	border-bottom: 1px solid green;
	border-top: 1px solid green;
}

#modalReplyEmail .form-group {
	margin-bottom: 10px;
}

#modalReplyEmail .modal-header {
	padding: 5px
}

#modalReplyEmail .modal-body {
	padding: 0px;
}

.error {
	color: red;
}

.multi-checkbox {
	height: 25px;
	width: 25px;
}

.form-control, .btn {
	font-size: 13px !important;
}

.fa-1-5x {
	font-size: 1.5em;
}

.short-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.full-width {
	width: 100%;
}

.btn {
	border-radius: 3px;
}

i.fa-trash, i.fa-trash-o, i.fa-times {
	cursor: pointer;
}

*:disabled {
	cursor: not-allowed;
}

.question-header {
	height: 35px;
	padding: 0 1.25em;
}

.card {
	margin-bottom: 10px;
}

.form-control-sm{
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}
