.form-login {
	width: 40%;
	margin: 50px auto;
}

.link-forgot-pass {
	float: right;
	font-size: 14px;
	color: #007bff;
}

.link-forgot-pass:hover {
	text-decoration: underline;
	color: #007bff;
	opacity: 0.7;
}

.form-login .form-actions button{
	padding: 10px 30px;
}