.content-layout {
	margin: auto;
	/*overflow: hidden;*/
}

.content-layout .page-header {
	margin: 0px 10px 0px 0px;
	position: relative;
}

.content-layout .main-content {
	padding: 0 30px;
}

.page-header .menu-content {
	position: absolute;
	top: 0;
}

.table-head .action-bar-top {
	text-align: right;
	margin: 0 0 0px;
}

.student-table .img-thumbnail {
	max-width: 120px;
	text-align: center;
}

.student-table .img-thumbnail img {
	max-width: 100%;
}


@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

.form-certificate_example .img{
	width: 100%;
	height: auto;
}
.alert{
	width: 100%;
}

.page-header .dropdown{
	display: flex;
	align-items: center;
}
.page-header #list-option{
	min-width: 130px;
}
.page-header #count-selected{
	width: 100%;
	margin: 0 0 0 15px;
}
.add_attempt .calendar-table {
	display: none;
}
.form-student-exam .amount {
	border: none;
}
.form-save img{
	height:auto;
}
.page-header img{
    border: none;
}
.form-group .input-radio-group  label{
	margin: 0;
}
table p{
	margin: 0;
}