#loading-modal {
	top: 0;
	position: absolute;
	background-color: rgba(220, 218, 218, 0.4);
	height: 100vh !important;
	z-index: 9;
}

.loader {
	position: absolute;
	top: 40%;
	left: 48%;
	border: 6px solid #cbcbcb;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
	background-color: green;
	border-color: green;
}

.btn-logout {
	font-size: 13px;
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 10;
}

.btn-logout #username:hover > .dropdown-menu {
	display: block;
}

.btn-logout #username > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}

.btn-logout .dropdown-menu {
	font-size: 12px !important;
	margin-top: -10px;
	z-index: 10000;
}

/* scroll */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #ccc;
}

::placeholder {
	opacity: 0.1;
}

.right-panel {
	position: relative;
}

/********ajax-loading-modal************/
#loading-modal {
	z-index: 9999;
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80FFFFFF', endColorstr='#80FFFFFF', GradientType=0);
}

body, p, span, b {
	font-size: 12px !important;
}

legend {
	display: inline-block;
	font-size: 14px !important;
	width: auto;
	font-weight: 600;
}

.container, .container-fluid {
	padding: 0px 5px;
	min-width: 100% !important;
}

table {
	font-size: 12px;
}

.loader {
	position: absolute;
	top: 40%;
	left: 48%;
	border: 6px solid #cbcbcb;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* end scroll */
body {
	/*width: calc(100% - 4px);*/
}

.hidden {
	display: none !important;
}

aside.left-panel {
	padding-right: 0px;
	position: absolute;
	z-index: 99;
	top: 45px;
	left: 0px;
	height: calc(100% - 50px);
	min-height: calc(100% - 50px);
	box-shadow: 1px 3px 5px 0px #424242;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	padding: 0px !important;
}

.navbar {
	margin: 0px;
}

.navbar .navbar-header {
	padding-right: 25px;
}

.navbar-expand-sm .navbar-collapse {
	height: 85vh;
	display: block !important;
	overflow: auto;
	padding-right: 25px;
}

.content-manage {
	/*padding: 0px 10px;*/
	background: #ffffff;
}

.header-select.col-select {
	width: 40px;
}

.col-action {
	width: 200px !important;
}

.table {
	/*font-size: 13px;*/
}

.filter-row.row-3 {
	position: relative;
}

.btn-export-file {
	color: #1b9dfd !important;
	font-size: 14px;
}

.btn-export-file:hover {
	cursor: pointer;
	text-decoration: underline !important;
}

.manage-filter .filter-part .filter-custom-row .data-filter-custom .data-input input {
	width: 210px !important;
	padding-right: 20px !important;
}

.manage-filter .filter-part .popup-row-btn {
	margin-top: 0px !important;
}

.manage-filter .row-custom {
	border: none !important;
}

.manage-filter .block-part {
	border-top: 0.5px solid #cbcbcb;
	border-bottom: 0.5px solid #cbcbcb;
}

.action-bar {
	font-size: 12px;
	position: relative;
	margin-right: 20px;
	/*width: 60%;*/
	min-width: 265px;
	display: inline-block;
}

.action-bar .input-search {
	width: 80%;
	padding: 5px 20px 5px 10px;
	border-radius: 3px;
	border: 1px solid #cbcbcb;
	height: 30px;
	font-size: 13px;
	display: inline-block;
	min-width: 175px;
}

.action-bar .btn-reset-search {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 15px;
	color: #9b9b9b;
	display: none;
}

.action-bar .btn-reset-search.active {
	display: block;
}

.action-bar .btn-reset-search:hover {
	cursor: pointer;
	color: #4a4a4a;
}

.action-bar .sort-item {
	width: calc(100% - 304px);
	display: inline-block;
	text-align: right;
}

.action-bar .sort-item .filter-option-inner-inner, .action-bar .sort-item .dropdown-menu, .filter-block .dropdown-menu {
	font-size: 13px;
}

.filter-block {
	margin: 5px 0;
	font-size: 13px;
	color: #4b4b4b;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.input-date {
	padding: 4px 10px;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid #cbcbcb;
	max-width: 190px;
}

.filter-select {
	font-size: 14px;
	display: inline-block;
}

.filter-select .filter-option-inner {
	font-size: 14px;
}

.count-row {

}

.count-row .row-each-page {
	font-size: 13px;
	display: inline-block;
	width: 50%;
}

.count-row .row-right .current-limit {
	width: 60px;
	display: inline-block;
	font-size: 13px;
	padding: 5px 10px;
	height: 30px;
}

.count-row .quick-action {
	width: calc(50% - 5px);
	display: inline-block;
	text-align: right;
}

.table-content {
	/*padding: 10px;*/
	position: relative;
}

.table-content .table-container {
	max-height: 64vh;
	overflow: auto;
	margin-bottom: 5px;
}

.table-content .table-container .table-bordered th, .table-bordered td {
	padding: 2px 10px;
	vertical-align: middle;
}

.table-content .table-container .table-bordered th.col-check, .table-bordered td.col-check {
	width: 30px;
}

.table-content .table-container .table-bordered th.col-action, .table-bordered td.col-action {
	width: 100px;
	text-align: center;
}

.table-content .table-container .table-bordered th.col-check input, .table-bordered td.col-check input {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.table-content .paging-detail {
	position: absolute;
}

.user-area .user-avatar {
	float: none;
}

.navbar .navbar-nav li.active {
	border-bottom: 1px solid green;
	border-top: 1px solid green;
}

#modalReplyEmail .form-group {
	margin-bottom: 10px;
}

#modalReplyEmail .modal-header {
	padding: 5px
}

#modalReplyEmail .modal-body {
	padding: 0px;
}

.error {
	color: red;
}

.multi-checkbox {
	height: 25px;
	width: 25px;
}

.form-control, .btn {
	font-size: 13px !important;
}

.fa-1-5x {
	font-size: 1.5em;
}

.short-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.full-width {
	width: 100%;
}

.btn {
	border-radius: 3px;
}

i.fa-trash, i.fa-trash-o, i.fa-times {
	cursor: pointer;
}

*:disabled {
	cursor: not-allowed;
}

.question-header {
	height: 35px;
	padding: 0 1.25em;
}

.card {
	border-radius: 20px;
	margin-bottom: 10px;
}

.form-control-sm {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.user-area .user-menu {
	top: 45px !important;
	border: 1px solid #cbcbcb;
}

.user-area .user-menu .nav-link:hover {
	background: #f1f1f1;
}

.form-group label {
	margin-top: 8px;
}

.form-check input {
	margin-top: 10px;
}

input.error, select.error, textarea.error {
	border-color: red;
}

.btn-light {
	background-color: rgb(241, 242, 247);
	border-color: rgb(241, 242, 247);
}

.img-show  {
	object-fit: cover;
	border: 1px solid rgb(241, 242, 247);
	height: 40px;
}

.e_show_preview {
	position: absolute;
	bottom: 8px;
	right: 8%;
	height: 18px;
	width: 18px;
	text-align: center;
	background-color: #007bff;
	color: #fff;
	border-radius: 50%;
}

.e_show_preview:hover {
	cursor: pointer;
	opacity: 0.7;
}

div.preview-content {
	bottom: 55%;
	position: absolute;
	z-index: 10;
	right: 12%;
	text-align: center;
	width: 250px;
	height: auto;
	padding: 18px 5px 0px 5px;
	background-color: #007bff;
	opacity: 0.9;
	border-radius: 5px;
}

span.close-review {
	position: absolute;
	z-index: 20;
	right: 1px;
	top: -5px;
	color: #d6d7d8;
	font-size: 20px !important;
	cursor: pointer;
}

span.close-review:hover {
	opacity: 0.7;
}

.hide {
	display: none !important;
}

.preview-content-img {
	width: auto !important;
}

.pointer {
	cursor: pointer;
}

.form-group {
	margin-bottom: 8px;
}

.content {
	background: #ffffff;
}

.content .bg-success {
	padding: 15px;
	width: 13%;
	color: #FFF;
}

.right-panel .page-header {
	min-height: auto;
	padding: 0px;
}

.table-head {
	padding: 5px 0px;
	border-bottom: 1px solid #cbcbcb;
}

.right-panel header.header {
	padding: 5px 20px 5px;
	position: relative;
}

.header-menu .col-sm-7 {
	position: relative;
}

.menutoggle {
	position: absolute;
	left: -10px;
	height: 35px;
	line-height: 40px;
	margin: 0px 0px 0 0px;
	width: 35px;
	z-index: 999;
}

.menutoggle > i {
	font-size: 18px;
}

.header-menu .breadcrumb-logo {
	padding-left: 40px;
}

.header-menu .breadcrumb-logo img {
	max-height: 35px;
}

.header-menu .breadcrumb-logo .breadcrumb-controller .icon-root {
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
	color: var(--gray);
}

.header-menu .breadcrumb-logo .breadcrumb-controller .icon-next {
	vertical-align: middle;
	font-size: 14px;
	color: #cbcbcb;
}

.header-menu .breadcrumb-logo .breadcrumb-controller .controller-name {
	vertical-align: middle;
	margin: 0px 5px;
}

.page-title .table-btn-header {
	border-left: 1px solid #cbcbcb;
	padding: 2px 10px 8px;
}

/*.page-title .table-btn-header:last-child {*/
/*padding: 2px 0px 8px 10px;*/
/*}*/

.page-title .table-btn-header:hover {
	cursor: pointer;
	opacity: 0.7;
}

.page-title .table-btn-header i {
	font-size: 20px;
	vertical-align: middle;
}

.page-title .btn-add-record {
	color: var(--green);
}

.page-title .btn-edit-record {
	color: var(--blue);
}

.page-title .btn-view-history {
	color: var(--gray);
}

.page-title .btn-delete {
	color: var(--red);
}

.page-title .btn-help {
	color: var(--orange);
}

.count-row .row-left {
	display: inline-block;
	width: 60%;
}

.count-row .row-left .filter-by-character {
	text-decoration: underline;
	color: var(--blue);
	margin-right: 5px;
}

.count-row .row-left .filter-by-character.active {
	color: var(--red);
}

.count-row .row-left .filter-by-character:hover {
	cursor: pointer;
	opacity: 0.7;
}

.count-row .row-right {
	display: inline-block;
	width: calc(40% - 5px);
	text-align: right;
}

.current-page-item {
	margin: 0px 10px;
	font-size: 13px;
}

.current-page-item input {
	width: 40px;
	border: 1px solid #cbcbcb;
	border-radius: 2px;
	padding: 5px 5px;
}

.table {
	margin-bottom: 0px;
}

.modal-header, .modal-footer {
	padding: 10px 10px;
}

form {
	margin: 0 !important;
}

.bootstrap-select > .dropdown-toggle {
	height: 35px;
}

.selected {
	background: #1b9dfd;
	color: white;
	font-weight: 400;
}

.table-content .count-row {
	margin: 5px 0;
}

.title-menu {
	font-weight: bold;
	font-size: 20px !important;
}

#overlay{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
	cursor: pointer;
	transition: 0.3s;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
}
#overlay.open {
	visibility: visible;
	opacity: 1;
}

#overlay:after { /* X button icon */
	content: "\2715";
	position: absolute;
	color:#fff;
	top: 10px;
	right:20px;
	font-size: 2em;
}

.btn-back-history{
	background-color: #000000;
	color: #FFFFFF;
}
.header-form {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #005ba1 !important;
}

.form-material {
	box-shadow: 0px 5px 10px 2px #a3a3a3;
	background-color: transparent;
	border-radius: 20px;
}

.btn-logout-acc {
	border: 1px solid #0071bc;
	border-radius: 5px;
}

.btn-logout-acc a {
	color: #0071bc;
}

.btn-compilation-book {
	border: 1px solid #ffffff;
	border-radius: 5px;
	background-color: #1b7dc5;
}

.btn-compilation-book a {
	color: #FFFFFF;
	text-decoration: none;
}

.btn-compilation-book.active {
	background-color: #00cde9;
}

.text-compilation-book {
	font-size: 20px !important;
	color: #005889;
	font-weight: 500;
}

.header-compilation {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #e6e6e6;
}

.content-cpt {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 700px;
}

.text-content-compilation {
	color: #FFFFFF;
}

.header-content-material {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 50px;
	background-color: #005ba1 !important;
}

.content-material {
	box-shadow: 0px 5px 10px 2px #a3a3a3;
	background-color: transparent;
	border-radius: 20px;
}

.form-content-material {
	height: 700px;
	overflow-y: scroll;
}

.icon-c-m-b {
	color: #005b98;
}

.form-content-material .table-custom {
	color: #ffffff;
}
.form-content-material .table-custom th{
	background: #005ba1 !important;
}
.btn-preview {
	color: #fff;
	text-transform: uppercase;
	background-color: #00cde9;
	border-radius: 5px;
}
.btn-preview:hover{
	color: #fff;
}
.form-material .form-action{
	margin: 20px 0 0 0;
}
.header-compilation .btn-save,.header-compilation .btn-cancel,.form-action .btn-next ,.form-action .btn-back{
	background: rgb(3,70,127);
	background: linear-gradient(120deg, rgba(3,70,127,1) 0%, rgba(0,91,153,1) 70%, rgba(0,91,185,1) 100%);
	color: #fff;
	font-weight: 600;
	font-size: 16px !important;
}
.header-compilation .btn-cancel,.form-action .btn-back{
	margin: 0 20px 0 0;
}
.form-action img{
	border: none;
	width: 25px;
	height: 25px;
	object-fit: contain;
	margin: 0 5px;
}
.form-action .arrow-left{
	transform: rotate(180deg);
}
.form-content-material::-webkit-scrollbar {
	width: 10px;
	cursor: pointer;
}

/* Track */
.form-content-material::-webkit-scrollbar-track {
	background: rgb(176,223,244);
	background: linear-gradient(120deg, rgba(176,223,244,1) 0%, rgba(176,223,244,1) 70%, rgba(175,201,227,1) 100%);
	cursor: pointer;
}

/* Handle */
.form-content-material::-webkit-scrollbar-thumb {
	background: rgb(4,156,237);
	background: linear-gradient(120deg, rgba(4,156,237,1) 0%, rgba(1,111,202,1) 50%, rgba(0,97,191,1) 100%);
	cursor: pointer;
}

.table-toc {
	padding: 10px;
	color: #FFF;background: linear-gradient(335deg, #4066ae, #9dd5e5);
	box-shadow: 3px 3px 3px 0px #a3a3a3;
}

.item-table-toc {
	padding: 10px;
	box-shadow: 3px 3px 3px 0px #a3a3a3;
	border: 1px solid #f4f4f4;
}

.tick-preview-toc {
	width: 18%;
}

.row-item-toc {
	display: flex;
	flex-wrap: wrap;
}

.name-toc {
	border-top-left-radius: 20px;
}

.lable-preview-toc {
	border-top-right-radius: 20px;
}

.icon-no-preview {
	font-size: 25px !important;
	color: red;
	padding-top: 5px;
}

.manipulation {
	color: #FFFFFF;
	background-color: #59ccea;
	border-radius: 50px;
}

.manipulation a {
	color: #FFFFFF;
}

.table-compilation-ebook-handmade {
	height: 700px;
	overflow: scroll;
}
.tableFixHead {
	overflow-y: auto;
	height: 700px;
}
.tableFixHead thead th {
	position: sticky;
	top: 0;
}

.form-preview-media-upload {
	justify-content: center;
	display: flex;
	align-items: center;
}

.btn-remove-media {
	margin-top: -45px;
}
